{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Prozente bearbeiten</title>
    <link rel="stylesheet" href="{% static 'kostenpruefung_mietobjekte_app/style.css' %}">
</head>
<body>
<div class="main-content">
    <h2>Prozente für Rechnung {{ rechnung.rechnungsnummer }} bearbeiten</h2>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            <tr>
                <th>ID</th>
                <th>Mieteinheit</th>
                <th>Rechnung</th>
                <th>Prozent</th>
            </tr>
            {% for form in formset %}
                {% if form.errors %}
                    <div style="color:red;">{{ form.errors }}</div>
                {% endif %}
                <tr>
                    <td>{{ form.instance.mieteinheit.name }}</td>
                    <td style="display:none;">{{ form.id }}</td> <!-- Hidden field for id -->
                    <td style="display:none;">{{ form.mieteinheit }}</td> <!-- Hidden field for mieteinheit -->
                    <td style="display:none;">{{ form.rechnung }}</td> <!-- Hidden field for rechnung -->
                    <td>{{ form.prozent }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="action-btn">Speichern</button>
        <a href="{% url 'rechnungen' %}" class="action-btn" style="background:#888;">Cancel</a>
    </form>
</div>
</body>
</html>